NAME="${PRODUCT_NAME}"
VERSION="${VERSION} (${CODENAME})"
ID="${PRODUCT_ID}"
ID_LIKE="${DISTRO_FAMILY}"
PRETTY_NAME="${PRETTY_NAME}"
VERSION_ID="${VERSION}"
VERSION_CODENAME="${CODENAME}"
HOME_URL="${HOMEPAGE_URL}"
SUPPORT_URL="${SUPPORT_URL}"
BUG_REPORT_URL="${BUG_REPORT_URL}"
PRIVACY_POLICY_URL="${PRIVACY_POLICY_URL}"
BUILD_ID="${BUILD_ID}"
LOGO="${PRODUCT_ID}"
